@font-face {
    font-family: 'Satoshi-Variable';
    src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
        url('fonts/Satoshi-Variable.woff') format('woff'),
        url('fonts/Satoshi-Variable.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
}

/* @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('fonts/Satoshi-VariableItalic.woff2') format('woff2'),
        url('fonts/Satoshi-VariableItalic.woff') format('woff'),
        url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: italic;
} */

/* EVERYTHING AND BODY */

* {
    box-sizing: border-box;
    cursor: none;
    -webkit-cursor: none;
    --scrolbar-vis: none;
    --boxes-color: black;
    --normal-text-color: white;
    --boxes-outline-color: hsl(0, 0%, 20%);
    --boxes-outline-hover-color: hsl(0, 0%, 10%);
    --container-margins: 0.5rem;
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: var(--scrolbar-vis);
    scrollbar-width: var(--scrolbar-vis);
    font-family: 'Satoshi-Variable', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-feature-settings: 'ss02', 'ss03';
    -webkit-font-feature-settings: "ss02" "ss03";
    color: var(--normal-text-color);
    font-variant-ligatures: discretionary-ligatures;
}

*::-webkit-scrollbar { 
    display: var(--scrolbar-vis);  /* Safari and Chrome */
}

/* MOBILE */

@media (pointer:none), (pointer:coarse) {
    html {
        font-size: 3dvw;
    }

    @media (min-width: 600px) and (orientation:landscape) {
        html {
            font-size: 1dvw;
        }
    }
}

body {
    background-color: var(--boxes-color);
    margin: calc(var(--container-margins)*2);
}

.textPage {
    margin-top: calc(var(--container-margins)*2);
    margin-bottom: calc(var(--container-margins)*2);
    margin-right: calc(var(--container-margins)*30);
    margin-left: calc(var(--container-margins)*30);
}

::selection {
    color: var(--boxes-color);
    background: var(--normal-text-color);
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
    * {
        --boxes-color: white;
        --normal-text-color: black;
        --boxes-outline-color: hsl(0, 0%, 90%);
        --boxes-outline-hover-color: hsl(0, 0%, 95%);
    }
}

/* LENIS */

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* CURSOR */

.cursorGroup {
    position: relative;
    mix-blend-mode: exclusion;
    z-index: 99999999;
}

.cursorCircle {
    position: fixed;
    height: var(--cursorSize);
    width: var(--cursorSize);
    border-radius: 50%;
    background-color: white;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform 400ms;
}

.cursorCircle0 {
    background-color: transparent;
}

body:has(a:hover) .cursorCircle {
    transform: scale(5);
}

/* TEXT ANIMATION */

.line {
    clip-path: polygon(0 0, 100% 0, 100% 120%, 0% 120%);
}

.word {
    transform: translateY(120%);
    transition: color 400ms ease;
    display: inline-block;
}


/* GENERAL STYLES */

h1 {
    font-size: 8rem;
    line-height: 1em;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    line-height: 1.3em;
    font-weight: 400;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.3em;
    font-weight: 400;
}

a .word {
    font-weight: 700;
    text-decoration: underline;
    --text-underline-offset: 0.16em;
    --text-decoration-thickness: 0.04em;
    text-underline-offset: var(--text-underline-offset);
    text-decoration-thickness: var(--text-decoration-thickness);
}

a {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: var(--text-underline-offset);
    text-decoration-thickness: var(--text-decoration-thickness);
    transition: color 400ms ease;
}

p {
    font-size: 1.25rem;
    line-height: 150%;
}

.bold {
    font-weight: 700;
}

/* GRIDS */

.grid {
    display: grid;
    column-gap: 0;
    row-gap: 0;
}

.gridTwoOne {
    grid-template-columns: 2fr 1fr;
}

.gridOneTwo {
    grid-template-columns: 1fr 2fr;
}

.gridOneOneOne {
    grid-template-columns: repeat(3, 1fr);
}

.gridOfThings {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
    .gridOfThings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gridOfThings {
        grid-template-columns: 1fr;
    }
}

.container {
    margin: var(--container-margins);
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--boxes-color);
    transition: background-color 400ms ease;
    border: 1px solid var(--boxes-outline-color);
}

.container:hover {
    background-color: var(--boxes-outline-hover-color);
}

.containerImage {
    background-color: var(--normal-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
}

.spacingDiv {
    height: 1em;
}

/* GRIDS UNDER MEDIA QUERIES */

@media (max-width: 800px) {
    .gridOneOneOne {
        grid-template-columns: 1fr;
    }
    .gridTwoOne {
        grid-template-columns: 1fr;
      }

    .gridOneTwo {
      grid-template-columns: 1fr;
    }
}

@media (max-width: 1200px) {
    .textPage {
        margin: calc(var(--container-margins)*2);
    }
}
/* INDIVIDUAL ELEMENTS */

.logoHero {
    transform: translate(0, 27.5%);
    position: relative;
    height: 1em;
    z-index: 2;
    mix-blend-mode: screen;
}


@media (prefers-color-scheme: light) {
    .logoHero {
        filter: invert();
        mix-blend-mode: multiply;
    }
}

.laCambre:hover .word {
    color: #EE0002;
}

.proceduralismLink:hover .word{
    color: greenyellow;
}

.typographyLink:hover .word{
    color: rgb(255, 51, 0);
}

.moGraphLink:hover .word{
    color: rgb(255, 47, 120);
}

.threeDLink:hover .word{
    color: rgb(255, 0, 89);
}

.brandingLink:hover .word{
    color: rgb(47, 0, 255);
}

.artLink:hover .word{
    color: rgb(0, 255, 106);
}

.instaLink .word {
    background-image: url(imgs/InstaGradient.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline var(--normal-text-color);
    -webkit-text-decoration: underline var(--normal-text-color);
    text-underline-offset: var(--text-underline-offset);
    text-decoration-thickness: var(--text-decoration-thickness);
}

.instaLink:hover .word {
    background-image: url(imgs/InstaGradient.svg);
    color: transparent;
}

.regular .word, a {
    font-weight: 400;
}

.noTextDeco .word, a {
    text-decoration: none;
}

.linkEmail:hover {
    background-color: #eb005e;
}
.linkEmail:hover .word {
    color: white;
}

.linkEmailText:hover .word {
    color: #eb005e;
}

.linkProducts:hover {
    background-color: greenyellow;
}
.linkProducts:hover .word {
    color: black;
}

.linkProductsText:hover .word {
    color: greenyellow;
}

.linkBehance:hover {
    background-color: #0046cb;
}
.linkBehance:hover .word {
    color: white;
}

.linkInsta {
    transition: background-image 400ms ease;
    background-image: url(imgs/Empty.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.linkInsta:hover {
    background-image: url(imgs/InstaGradient.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.linkTiktok:hover {
    background-color: #ff0050;
}
.linkTiktok:hover .word {
    color: white;
}

.linkDribbble:hover {
    background-color: #ED94D4;
}

.linkWebsite:hover {
    background-color: #6a00ff;
}
.linkWebsite:hover .word {
    color: white;
}

.SIWebsite:hover .word {
    color: #002cf7;
}

.PlugEvWebsite:hover .word {
    color: #7a55d2;
}

.workBlanks {
    background-image: url(imgs/Blanks.jpeg);
}

.workLogoGrass {
    background-image: url(imgs/logoRender.jpg);
}

.workTonan {
    background-image: url(imgs/TonanLogo.svg);
}

@media (prefers-color-scheme: light) {
    .workTonan {
        border: 1px solid hsl(0, 0%, 10%);
        filter: invert();
    }
}

.workDiscoveries {
    background-image: url(imgs/Discoveries.jpg);
}

.workPXDiM {
    background-image: url(imgs/PXDiM.jpg);
}

.workWittyChrome {
    background-image: url(imgs/WittyLogoChrome.jpeg);
}

.workSekerith {
    background-image: url(imgs/Sekerith.jpg);
}

.workSekerithKeyboard {
    background-image: url(imgs/SekerithKeyboard.png);
}

.workPxd {
    background-image: url(imgs/Pxd.jpg);
}

.logoRenderImage {
    background-image: url(imgs/LogoGlass.png);
    height: 50dvw;
    aspect-ratio: auto;
}