@font-face{font-family:satoshi;font-style:normal;font-weight:400;src:local('Satoshi'),url(https://fonts.cdnfonts.com/s/85546/Satoshi-Regular.woff) format('woff')}
/*@font-face{font-family:satoshi;font-style:italic;font-weight:400;src:local('Satoshi'),url(https://fonts.cdnfonts.com/s/85546/Satoshi-Italic.woff) format('woff')}
*/
@font-face{font-family:satoshi;font-style:normal;font-weight:700;src:local('Satoshi'),url(https://fonts.cdnfonts.com/s/85546/Satoshi-Bold.woff) format('woff')}
/*@font-face{font-family:satoshi;font-style:italic;font-weight:700;src:local('Satoshi'),url(https://fonts.cdnfonts.com/s/85546/Satoshi-BoldItalic.woff) format('woff')}
*/
* {
    --scrolbar-vis: none;
    --boxes-color: black;
    --normal-text-color: white;
    margin: 0;
    border: 0;
    padding: 0;
    -ms-overflow-style: var(--scrolbar-vis);  /* Internet Explorer 10+ */
    scrollbar-width: var(--scrolbar-vis);  /* Firefox */
    box-sizing: border-box;
    cursor: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { 
    display: var(--scrolbar-vis);  /* Safari and Chrome */
}

@media (prefers-color-scheme: light) {
    * {
        --boxes-color: white !important;
        --normal-text-color: black !important;
    }
}

@media (pointer:none), (pointer:coarse) {
    * {
        font-size: 3dvw;
    }

    @media (min-width: 600px) and (orientation:landscape) {
        * {
            font-size: 1dvw;
        }
    }
}

body {
    background-color: var(--normal-text-color);
    font: inherit;
    font-family: 'Satoshi', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: 'ss02', 'ss03';
    -moz-font-feature-settings: "ss02" "ss03";
    -webkit-font-feature-settings: "ss02" "ss03";
    color: var(--normal-text-color);
    font-variant-ligatures: discretionary-ligatures;
    hyphens: auto;
    margin: 1px;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: var(--boxes-color);
    background: var(--normal-text-color);
}

::selection {
    color: var(--boxes-color);
    background: var(--normal-text-color);
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.cursorGroup {
    position: relative;
    mix-blend-mode: exclusion;
    z-index: 99999999;
}

.cursorCircle {
    position: fixed;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: white;
    top: 200;
    left: 200;
    pointer-events: none;

    transition: transform 400ms ease;
    -webkit-transition: transform 400ms ease;
}

.cursorCircle0 {
    background-color: transparent;
}

body:has(a:hover) .cursorCircle {
    transform: scale(5);
}

h1 {
    --textSize: 8em;
    line-height: 1em;
    font-size: 8em;
}

h2 {
    --textSize: 4em;
    font-size: var(--textSize);
    line-height: 1.3em;
    font-weight: 400;
}

h3 {
    --textSize: 2em;
    font-size: var(--textSize);
    line-height: 1.3em;
    font-weight: 400;
}

p {
    --textSize: 1em;
    font-size: var(--textSize);
}

i {
    font-size: var(--textSize);
}

.textLink {
    text-decoration: none;
    color: var(--normal-text-color);
    font-weight: 700;
    --textSize: 1em;
    font-size: var(--textSize);
    border-bottom: calc(var(--textSize)/20) solid var(--normal-text-color);
}

.defaultTextLink:hover {
    color: hsl(85, 100%, 50%)
}

.noUnderBorder {
    border-bottom: 0 !important;
}

.twoPxMarginBottom {
    margin-bottom: 2px !important;
}

b {
    font-weight: 700;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p, .textLink {
    transition: all 400ms ease;
}

.logoHero{
    position: relative;
    mix-blend-mode: exclusion;
    z-index: 1;
    height: 1em;
    transform: translate(0, 27.5%);
}

@media (pointer:none), (pointer:coarse) {
    .logoHero{
        height: 8em;
    }
}

.regularweight {
    font-weight: 400;
    line-height: 2.25em;
}

.hero-container {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: 2fr 1fr;
}

.laCambre:hover{
    color: #EE0002;
}

.instaLink {
    background-image: url(imgs/InstaGradient.svg);
    background-color: var(--normal-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
}

.instaLink:hover {
    background-image: url(imgs/InstaGradient.svg);
    color: rgba(0, 0, 0, 0);
}

.hero2-container {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: 1fr 2fr;
}

.container {
    margin: 1px;
    padding: 1.5em;
    border-radius: 1.5em;
    background-color: var(--boxes-color);
    transition: background-color 400ms ease;
    -webkit-transition: background-color 400ms ease;
}

.containerone {
    text-align: center;
}

.threecontainers {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.containerofthree {
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sizeOfH3 {
    font-size: 2em;
}

.underline {
    border-bottom: calc(var(--textSize)/20) solid var(--normal-text-color);
    transition: border-bottom 400ms ease;
}

.email:hover {
    background-color: crimson;
    color: white;
}

.products:hover {
    background-color: greenyellow;
    color: black;
}

.products:hover:has(.underline) .underline {
    border-bottom: calc(var(--textSize)/20) solid black;
}

.behance:hover {
    background-color: #0046cb;
    color: white;
}

.works {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    aspect-ratio: 1;
}

.workone {
    background-image: url(imgs/Blanks.jpeg);
}

.worktwo {
    background-image: url(imgs/logoRender.png);
}

.workthree {
    background-image: url(imgs/TonanLogo.svg);
}

@media (max-width: 800px) {
    .hero-container {
        grid-template-columns: 1fr;
      }

    .hero2-container {
      grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .threecontainers {
        grid-template-columns: 1fr;
    }
}